.card{
	display:flex;
flex-direction: row;
}

.tg_para{
width: 134px;
height: 36px;
position:relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #333333;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.tg_price{
width: 30px;
height: 16px;

position:relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */

text-decoration-line: line-through;

color: #999999;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

.tg_newprice{
width: 39px;
height: 21px;

position:relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */


color: #333333;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.tg_discount{
width: 55px;
height: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */


color: #DD5F2D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.offer{
/* display: flex; */
flex-direction: row;
justify-content: center;
align-items:flex-start;
padding: 2px 8px;
gap: 4px;

position: relative;
left: -2.7%;
right: 20.27%;
top: -82.44%;
bottom: 10.85%;

background: #E91E63;
box-shadow: 1px 1px 1px #000000;
border-radius: 4px;
}
.offer_img{
width: 12px;
height: 12px;

/* background: url(discount.png); */

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.offer_text{
width: 90px;
height: 14px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}