
.header{
/* Auto layout */
/* box-sizing: border-box; */
scroll-snap-align: start ;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 16px;
margin-top: 10px;
width: 360px;
/* height: 418px; */
height: 818px;

background: #FFFFFF;
border-radius: 12px 12px 12px 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.tg_products{
width: 189px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;idth: 189px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.tg_image{
box-sizing: border-box;

/* position: absolute; */
width: 158px;
height: 176px;
left: 0px;
top: 0px;

/* background: url(.jpg); */
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #F2F2F2;
border-radius: 8px 8px 0px 0px;

}
.tg_text{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 8px;

width: 158px;
height: 168px;

background: #FFFFFF;
border-radius: 0px 0px 8px 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.tg_h6{
width: 134px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-transform: uppercase;

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.para{
width: 328px;
height: 18px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


color: #666666;


/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 0; */
}
.img-container{
}
.img1{
box-sizing: border-box;

/* position: relative; */
width: 140px;

height: 90px;
left: 0px;
top: 0px;

border: 1px solid #E5E5E5;
border-radius: 8px;
}
.img2{
box-sizing: border-box;

/* position: absolute; */
width: 140px;

height: 284px;
left: 0px;
top: 0px;

/* background: url(PriyankaArya-3003-1.jpg); */
border: 1px solid #E5E5E5;
border-radius: 8px;
}

.img3{
box-sizing: border-box;

/* position: absolute; */
width: 140px;

height: 160px;
left: 0px;
top: 0px;

/* background: url(Screenshot 2022-06-09 at 5.22.19 PM.png); */
border: 1px solid #E5E5E5;
border-radius: 8px;
}
.column {
  float: left;
  width: 50%;
  padding: 0.01px;
  margin-left: -8px;
}
.column2{
/* margin-top:-775px; */
 margin-right: -3px;
  float: right;
  width: 50%;
  /* padding: 10px; */
}
.column img {
  margin-top: 12px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}