html{
	scroll-snap-type: y mandatory; 
}

.App{
	background-color: black;
	height:100vh;
	display:grid;
	overflow:hidden;
	place-items:center;
}
.app__videos
{
	position:relative;
	 height:800px;
	 overflow:scroll;
	 width:80%;
	 max-width: 500px;
	 scroll-snap-type: y mandatory;
	 /* scroll-snap-align: start; */
}
.app__videos::-webkit-scrollbar
{
display:none
}
.app__videos{
	-ms-overflow-style:none;
	scrollbar-width:none;
}